<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script>
		function setUserDetails(name,lastName,pesel,city,zipCode,street,building,flat,phone) {
		    document.getElementById('detailName').innerHTML=name;
		    document.getElementById('detailLastName').innerHTML=lastName;
		    document.getElementById('detailPesel').innerHTML=pesel;
		    document.getElementById('detailCity').innerHTML=city;
		    document.getElementById('detailZipCode').innerHTML=zipCode;
		    document.getElementById('detailStreet').innerHTML=street;
		    document.getElementById('detailBuilding').innerHTML=building;
		    document.getElementById('detailFlat').innerHTML=flat;
		    document.getElementById('detailPhone').innerHTML=phone;
        };

		function setUserIdToDelete(id)
		{
            document.getElementById('deleteHref').href='/admin/users/del='.concat(id);

		};
	</script>
</head>

<body>
<div class="row justify-content-center">
	<div class="alert alert-success" role="alert" th:if="${message != null}" th:text="${message}">
	</div>
	<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:text="${errorMessage}">
	</div>
</div>
	
	<div class="container">
		<div class="row">

			<table class="table table-hover">
				<thead>
				<tr>
					<th scope="col">USER ID</th>
					<th scope="col">ACTIVE</th>
					<th scope="col">EMAIL</th>
					<th scope="col">LAST NAME</th>
					<th scope="col">NAME</th>
					<th scope="col">PASSWORD</th>
					<th scope="col">ROLE</th>
					<th colspan="2">OPTIONS</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="user1 : ${users}">
					<td th:text="${user1.getId()}"></td>
					<td th:text="${user1.getActive()}"></td>
					<td th:text="${user1.getEmail()}"></td>
					<td th:text="${user1.getLastName()}"></td>
					<td th:text="${user1.getName()}"></td>
					<td th:text="${user1.getPassword()}"></td>
					<td th:text="${user1.getRole()}"></td>
					<td>
						<button id="edit" th:onclick="|setUserDetails('${user1.getName()}','${user1.getLastName()}','${user1.getPesel()}','${user1.getCity()}','${user1.getZipCode()}','${user1.getStreet()}','${user1.getBuilding()}','${user1.getFlat()}','${user1.getPhone()}')|" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#userDetailModal">
							Details
						</button>
					</td>
					<td>
						<button id="delete" th:onclick="|setUserIdToDelete(${user1.getId()})|" type="button" class="btn btn-danger"  data-toggle="modal" data-target="#deleteUserModal">
							Delete
						</button>
					</td>

				</tr>
				</tbody>
			</table>

		</div>
		<div class="row">
			<form th:action="@{/admin/users}" method="post" class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>Add User details</legend>

					<!-- Select Basic -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="user">Select user</label>
						<div class="col-md-4">
							<select th:field="${user.email}" id="user" name="user" class="form-control">
								<option th:each="user1 : ${users}" th:value="${user1.getEmail()}" th:text="${user1.getName()}+','+${user1.getLastName()}+'('+${user1.getEmail()}+')'"></option>
							</select>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="city">City</label>
						<div class="col-md-4">
							<input th:filed="${user.city}" id="city" name="city" type="text" placeholder="city" class="form-control input-md" required="">

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="zip">Zip code</label>
						<div class="col-md-2">
							<input th:field="${user.zipCode}" id="zip" name="zip" type="text" placeholder="XX-XXX" class="form-control input-md" required="">

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="building">Building</label>
						<div class="col-md-2">
							<input th:field="${user.building}" id="building" name="building" type="text" placeholder="" class="form-control input-md" required="">

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="flat">Flat</label>
						<div class="col-md-2">
							<input th:field="${user.flat}" id="flat" name="flat" type="text" placeholder="" class="form-control input-md">

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="pesel">PESEL</label>
						<div class="col-md-4">
							<input th:field="${user.pesel}" id="pesel" name="pesel" type="text" placeholder="XXXXXXXXXX" class="form-control input-md" required="">

						</div>
					</div>

					<!-- Prepended text-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="phone">Phone</label>
						<div class="col-md-4">
							<div class="input-group">
								<span class="input-group-addon">+48</span>
								<input th:field="${user.phone}" id="phone" name="phone" class="form-control" placeholder="XXX-XXX-XXX" type="text" required="">
							</div>

						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="add"></label>
						<div class="col-md-4">
							<button type="submit" id="add" name="add" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</fieldset>
			</form>

		</div>
	</div>


	<div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="userDetailModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="userDetailModalTitle">User details</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<tr>
							<td>Name</td>
							<td id="detailName"></td>
						</tr>
						<tr>
							<td>Last name</td>
							<td id="detailLastName"></td>
						</tr>
						<tr>
							<td>PESEL</td>
							<td id="detailPesel"></td>
						</tr>
						<tr>
							<td>City</td>
							<td id="detailCity"></td>
						</tr>
						<tr>
							<td>ZIP code</td>
							<td id="detailZipCode"></td>
						</tr>
						<tr>
							<td>Street</td>
							<td id="detailStreet"></td>
						</tr>
						<tr>
							<td>Building</td>
							<td id="detailBuilding"></td>
						</tr>
						<tr>
							<td>Flat</td>
							<td id="detailFlat"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td id="detailPhone"></td>
						</tr>
					</table>
				</div>
				<div class="model-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteUserModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Are you sure to delete this user?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<a href="#" id="deleteHref" class="btn btn-warning">Delete anyway</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>