<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PetClinic</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/scrolling-nav.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
            integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#doctors">Lekarze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#hours">Godziny pracy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Witamy w PetClinic</h1>
        <p class="lead">Zadbamy o Twojego zwierzaka</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>O nas</h2>
                <p class="lead">Kim jesteśmy?</p>
                <ul>
                    <li>Od 2000 świadczymy usługi weterynaryjne</li>
                    <li>Posiadamy wysokiej klasy specjalistów</li>
                    <li>Poza psami i kotami leczymy również świnki morskie, chomiki i szczury
                    </li>
                    <li>Cenimy sobie czas klientów więc umożliwiamy rezerwacje wizyt telefonicznie i poprzez applikacje webową</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Cennik usług</h2>
                <table>
                    <thead>
                        <th>Usługa</th>
                        <th>Cena</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Obcinanie pazurów</td>
                        <td>30 zł</td>
                    </tr>
                    <tr>
                        <td>USG</td>
                        <td>50 zł</td>
                    </tr>
                    <tr>
                        <td>Chipowanie</td>
                        <td>40 zł</td>
                    </tr>
                    <tr>
                        <td>Morfologia</td>
                        <td>10 zł</td>
                    </tr>
                    <tr>
                        <td>Badanie RTG</td>
                        <td>70 zł</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="doctors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Lekarz</h2>
                <p class="lead">Nasze usługi oferujemy w oparciu o doświadczonych lekarzy weterynarii</p>
                <ul>
                    <li>Emilia Nowak - specjalista medycyny małych zwierząt</li>
                    <li>Józek Ogórek - specjalista radiologii</li>
                    <li>Izydor Romski - specjalista chorób pokarmowych</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="hours" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Godziny pracy</h2>
                <p class="lead">Jesteśmy otwarci 6 dni w tygodniu (poniedziałek - sobota) od godziny 8 do 16.</p>
                <p>Istnieje możliwość przyjęcią 24/7 w nagłym przypadku. W razie potrzeby prosimy o kontakt po numerem 500 500 500</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container" th:include="common/footer::copy">

    </div>
    <!-- /.container -->
</footer>

<script th:src="@{/js/scrolling-nav.js}"></script>
</body>
</html>